@model IEnumerable<Models.Models.DataModels.AddToCart>
@{
    double totalPrice = 0;
    var countCart = 0;
    var vie = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
    if (ViewBag.checkCusomter != null)
    {
        foreach (var item in ViewBag.CountPrice)
        {
            countCart++;
            totalPrice += item.Price * item.Quantity;
        }
    }

}
<header id="header">
    <div id="header-wrap">
        <div class="container clearfix">
            <!-- Logo
            ============================================= -->

            <div id="logo" class='col-md-3 col-xs-6 col-xs-push-3 col-sm-push-0 nopadding'>
                <a href="/" class="standard-logo" data-dark-logo="//theme.hstatic.net/1000104489/1000257823/14/logo.png?v=3503"><img src="//theme.hstatic.net/1000104489/1000257823/14/logo.png?v=3503" alt="Leafshop - Natural & Organic care"></a>

            </div><!-- #logo end -->
            <!-- Top Search
            ============================================= -->
            <!-- Top Search
            ============================================= -->
            <div class='top_search col-md-9 col-xs-12'>


                <form id="searchauto"
                      action="/home/products/?Sale=@Request.QueryString["Sale"]&orderby=@Request.QueryString["orderby"]&listProviderID=@Request.QueryString["listProviderID"]&listPriceID=@Request.QueryString["listPriceID"]&key=@Request.QueryString["key"]"
                      class="searchform-categoris ultimate-search col-sm-8 form-inline nopadding nomargin">

                    <div class="wpo-search">

                        <div class="wpo-search-inner">

                            <div class="input-group" style="margin: 2px 0px 5px; width: 100%">
                                <input id="searchtext" name="key" maxlength="40" class="form-control input-search" type="text" size="20" placeholder="Tìm kiếm...">

                                <span class="input-group-auto">

                                    <button type="submit" id="searchsubmit" class="fa" value=""><i class="fa fa-search" aria-hidden="true"></i></button>

                                </span>

                            </div>

                        </div>

                        <input type="hidden" class="collection_id" value="(collectionid:product>0)" />

                        <input type="hidden" class="collection_handle" value="all" />

                        <input type="hidden" class="collection_name" value="all" />

                    </div>

                </form>


                <script>


                 

                    function selectSuggest(act) {

                        cur = $('.smart-search-wrapper > .select').index();

                        length = $('.smart-search-wrapper > a').length;

                        if (act == 38) {

                            if (cur == -1 || cur == 0)

                                cur = length - 1;

                            else

                                cur = cur - 1;

                        }


                        if (act == 40) {

                            if (cur == -1 || cur == length - 1)

                                cur = 0;

                            else

                                cur = cur + 1;
                        }

                        $('.smart-search-wrapper>a').removeClass('select');

                        $('.smart-search-wrapper>a:nth-child(' + (cur + 1) + ')').addClass('select');


                        $('.ultimate-search input[name=q]').val($('.smart-search-wrapper>.select').attr('data-title'));
                        return false;
                    }


                    (function ($) {
                        $.fn.smartSearch = function (_option) {
                            var o, issending = false,

                                timeout = null;

                            var option = {
                                smartoffset: true, //auto calc offset

                                searchoperator: '**', //** contain, *= begin with, =* end with

                                searchfield: "title",

                                searchwhen: 'keyup', //0: after keydown, 1: after keypress, after space

                                searchdelay: 500, //delay time before load data

                            };

                            if (typeof (_option) !== 'undefined') {

                                $.each(_option, function (i, v) {

                                    if (typeof (_option[i]) !== 'undefined') option[i] = _option[i];

                                })
                            }

                            o = $(this);

                            o.attr('autocomplete', 'off');

                            this.bind(option.searchwhen, function (event) {

                                if (event.keyCode == 38 || event.keyCode == 40) {

                                    return selectSuggest(event.keyCode);

                                } else {

                                    $(".smart-search-wrapper." + option.wrapper).remove();

                                    clearTimeout(timeout);

                                    timeout = setTimeout(l, option.searchdelay, $(this).val());

                                }

                            });

                            var l = function (t) {

                                if (issending) return this;

                                issending = true;

                                coll = ''

                                if (option.collection != null)

                                    coll = $(option.collection).val() + "&&";


                            }

                            $(window).resize(function () {

                                p();

                            });

                            $(window).scroll(function () {

                                p();

                            });

                            $(this).blur(function () {

                                $('.smart-search-wrapper.' + option.wrapper).slideUp();

                            });

                            var p = function () {

                                if (!o.offset()) {

                                    return;

                                }


                                $(".smart-search-wrapper." + option.wrapper).css("width", o.outerWidth() + "px");

                                $(".smart-search-wrapper." + option.wrapper).css("left", o.offset().left + "px");

                                if (option.smartoffset) {


                                    h = $(".smart-search-wrapper." + option.wrapper).height();

                                    if (h + o.offset().top - $(window).scrollTop() + o.outerHeight() > $(window).height()) {

                                        $(".smart-search-wrapper." + option.wrapper).css('top', '');


                                        $(".smart-search-wrapper." + option.wrapper).css('bottom', ($(window).scrollTop() + $(window).height() - o.offset().top) + "px");

                                    } else {

                                        $(".smart-search-wrapper." + option.wrapper).css('bottom', '');

                                        $(".smart-search-wrapper." + option.wrapper).css('top', (o.offset().top - $(window).scrollTop() + o.outerHeight()) + "px");

                                    }

                                } else {

                                    $(".smart-search-wrapper." + option.wrapper).css('top', (o.offset().top - $(window).scrollTop() + o.outerHeight()) + "px");

                                }

                            }

                            return this;

                        };
                    }(jQuery));




                </script>


                <style>

                    .smart-search-wrapper > a.thumbs {
                        width: 64px;
                        display: inline-block;
                        height: 64px;
                        padding: 5px 0px;
                    }

                    #searchtext {
                        width: 100%;
                        -webkit-transition: width 0.5s ease 0s;
                        transition: width 0.5s ease 0s;
                        height: 40px;
                        border-radius: 5px;
                        color: #000;
                        border: 1px solid #d3d3d3;
                        font: normal 13px 'Arial';
                        background: transparent;
                        border-radius: 0px;
                    }

                    .input-group-auto {
                        height: 35px;
                        color: #000;
                        position: absolute;
                        right: 0;
                        top: 0;
                        background: none;
                        border: none;
                        z-index: 99;
                    }

                        .input-group-auto #searchsubmit {
                            background: none;
                            border: 0;
                            width: 46px;
                            height: 40px;
                            font-size: 18px;
                            background-color: #F2963C;
                        }

                            .input-group-auto #searchsubmit i {
                                color: #fff;
                            }

                    .smart-search-wrapper > a.thumbs img {
                        position: absolute;
                        top: 0px;
                        width: 64px;
                        height: 64px;
                        left: 0px;
                    }

                    .smart-search-wrapper {
                        position: fixed;
                        background: #fff;
                        border: 1px solid rgb(215, 215, 215);
                        border-top: none;
                        z-index: 999;
                        max-height: 300px;
                        overflow: auto;
                    }

                        .smart-search-wrapper > a {
                            width: calc(100% - 64px);
                            float: left;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: pre;
                            color: #686767;
                            text-decoration: none;
                            line-height: 29px;
                            font-size: 13px;
                            font-family: sans-serif;
                            padding: 5px 80px 5px 5px;
                            position: relative;
                        }

                            .smart-search-wrapper > a.select, .smart-search-wrapper > a:hover {
                                background: -webkit-linear-gradient(left, #fff,#EAEAEA); /* For Safari 5.1 to 6.0 */
                                background: -o-linear-gradient(left, #fff,#EAEAEA); /* For Opera 11.1 to 12.0 */
                                background: -moz-linear-gradient(left, #fff,#EAEAEA ); /* For Firefox 3.6 to 15 */
                                background: linear-gradient(left, #fff,#EAEAEA ); /* Standard syntax (must be last) */
                                color: #000;
                            }

                            .smart-search-wrapper > a > span.price-search {
                                position: absolute;
                                right: 5px;
                                top: 0px;
                            }

                    .smart-search-wrapper {
                        /*max-height: 300px;
                                overflow-y: scroll;*/
                    }

                    .title-search {
                        font-weight: bold;
                    }

                    .desc-search {
                        margin: 0px;
                        white-space: normal;
                    }

                    .price-search {
                        font-weight: bold;
                    }
                </style>


                <div id="top-cart" class='top-cart-block col-md-1 nopadding'>
                    <a href="/cart" id="top-cart-trigger">
                        <img src='//theme.hstatic.net/1000104489/1000257823/14/cart-x.png?v=3503'>
                        <span class='top_cart_qty' id="totalProducts">
                            <!--Đổ số sản phẩm -->
                        </span>
                    </a>
                    <div class="top-cart-content" id="viewCart">
                        <!--gọi ajax Đổ dữ liệu-->

                    </div>
                    <style>
                        #viewCart {
                            width: 280px !important
                        }
                    </style>
                </div>

                <a class='top_hotline col-sm-3 hidden-sm hidden-xs nopadding' href='tel:0975380816'><img src='//theme.hstatic.net/1000104489/1000257823/14/top_hotline.png?v=3503' /></a>

            </div>
            <!-- #top-search end -->
            <!-- top link trigger --->
            <a href='#' id='top_link_trigger' class='hidden-lg hidden-md'><i class='fa fa-ellipsis-v'></i></a>
            <!-- end top link trigger --->
            <script>
                $("#sidebar-wrapper ul li a span").click(function (event) {
                    event.preventDefault();
                    var li = $(this).parents('li');
                    li.children('ul').toggle('slow');
                });
            </script>
            <!-- #primary-menu end -->
        </div>
    </div>
</header>

<script>
    $(document).ready(function () {
        callAjaxTotalProduct()
        callAjax()
    })
    function callAjax() {
        $.ajax({
            'url': '/Cart/ViewQuick',
            'type': 'GET',
            'success': function (data) {
                //console.log(data);
                $('#viewCart').html(data);
            },

        });
    }
    function callAjaxTotalProduct() {
        $.ajax({
            'url': '/Cart/TotalProduct',
            'type': 'GET',
            'success': function (data) {
                console.log(data);
                $('#totalProducts').html(data);
            },

        });

    }
</script>

