 <!-- Slider -->

<script type="text/javascript">
        var category_selected = 0;


        $(document).ready(function () {
            $('#ulSlideHeader').gwSliderHeader();

            $('.version_mobile').attr('style', 'display:none;');
            $('#ulSlideCarousel').gwSlider();

        });

</script>

<div id="visio">
    <div class="prev"></div>
    <div id="slideCarousel">
        <ul id="ulSlideCarousel" style="width:100%;">

            <li class="liSlideCarousel" style="background:url('//theme.hstatic.net/1000104489/1000257823/14/slideshow_1.jpg?v=3503') no-repeat;background-size:100%;">
                <div class="slider_link"><a href="https://leafshop.vn/" rel="greenlac.jpg" class="link_slider_hp"><img src="//theme.hstatic.net/1000104489/1000257823/14/spacer.gif?v=3503" width="100%" height="100%" border="0" alt="" /></a></div>
                <div class="offre"><span></span></div>
                <div class="slider_conteneur">
                    <div class="ctn">
                        <div class="btn view-poi"><a href="https://leafshop.vn/" rel="greenlac.jpg" class="link_slider_hp"><span>Xem Chi Tiết </span> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
                    </div>
                </div>
            </li>

            <li class="liSlideCarousel" style="background:url('//theme.hstatic.net/1000104489/1000257823/14/slideshow_2.jpg?v=3503') no-repeat;background-size:100%;">
                <div class="slider_link"><a href="https://leafshop.vn/collections/yumearth" rel="greenlac.jpg" class="link_slider_hp"><img src="//theme.hstatic.net/1000104489/1000257823/14/spacer.gif?v=3503" width="100%" height="100%" border="0" alt="" /></a></div>
                <div class="offre"><span></span></div>
                <div class="slider_conteneur">
                    <div class="ctn">
                        <div class="btn view-poi"><a href="https://leafshop.vn/collections/yumearth" rel="greenlac.jpg" class="link_slider_hp"><span>Xem Chi Tiết </span> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
                    </div>
                </div>
            </li>

            <li class="liSlideCarousel" style="background:url('//theme.hstatic.net/1000104489/1000257823/14/slideshow_3.jpg?v=3503') no-repeat;background-size:100%;">
                <div class="slider_link"><a href="https://leafshop.vn/collections/sobo" rel="greenlac.jpg" class="link_slider_hp"><img src="//theme.hstatic.net/1000104489/1000257823/14/spacer.gif?v=3503" width="100%" height="100%" border="0" alt="" /></a></div>
                <div class="offre"><span></span></div>
                <div class="slider_conteneur">
                    <div class="ctn">
                        <div class="btn view-poi"><a href="https://leafshop.vn/collections/sobo" rel="greenlac.jpg" class="link_slider_hp"><span>Xem Chi Tiết </span> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
                    </div>
                </div>
            </li>

            <li class="liSlideCarousel" style="background:url('//theme.hstatic.net/1000104489/1000257823/14/slideshow_4.jpg?v=3503') no-repeat;background-size:100%;">
                <div class="slider_link"><a href="https://leafshop.vn/collections/biovegan" rel="greenlac.jpg" class="link_slider_hp"><img src="//theme.hstatic.net/1000104489/1000257823/14/spacer.gif?v=3503" width="100%" height="100%" border="0" alt="" /></a></div>
                <div class="offre"><span></span></div>
                <div class="slider_conteneur">
                    <div class="ctn">
                        <div class="btn view-poi"><a href="https://leafshop.vn/collections/biovegan" rel="greenlac.jpg" class="link_slider_hp"><span>Xem Chi Tiết </span> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
                    </div>
                </div>
            </li>

            <li class="liSlideCarousel" style="background:url('//theme.hstatic.net/1000104489/1000257823/14/slideshow_5.jpg?v=3503') no-repeat;background-size:100%;">
                <div class="slider_link"><a href="https://leafshop.vn/collections/markal" rel="greenlac.jpg" class="link_slider_hp"><img src="//theme.hstatic.net/1000104489/1000257823/14/spacer.gif?v=3503" width="100%" height="100%" border="0" alt="" /></a></div>
                <div class="offre"><span></span></div>
                <div class="slider_conteneur">
                    <div class="ctn">
                        <div class="btn view-poi"><a href="https://leafshop.vn/collections/markal" rel="greenlac.jpg" class="link_slider_hp"><span>Xem Chi Tiết </span> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
                    </div>
                </div>
            </li>

            <li class="liSlideCarousel" style="background:url('//theme.hstatic.net/1000104489/1000257823/14/slideshow_8.jpg?v=3503') no-repeat;background-size:100%;">
                <div class="slider_link"><a href="https://leafshop.vn/collections/bartolini" rel="greenlac.jpg" class="link_slider_hp"><img src="//theme.hstatic.net/1000104489/1000257823/14/spacer.gif?v=3503" width="100%" height="100%" border="0" alt="" /></a></div>
                <div class="offre"><span></span></div>
                <div class="slider_conteneur">
                    <div class="ctn">
                        <div class="btn view-poi"><a href="https://leafshop.vn/collections/bartolini" rel="greenlac.jpg" class="link_slider_hp"><span>Xem Chi Tiết </span> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
                    </div>
                </div>
            </li>

            <li class="liSlideCarousel" style="background:url('//theme.hstatic.net/1000104489/1000257823/14/slideshow_9.jpg?v=3503') no-repeat;background-size:100%;">
                <div class="slider_link"><a href="//leafshop.vn/collections/la-mandorle?aelang=vi" rel="greenlac.jpg" class="link_slider_hp"><img src="//theme.hstatic.net/1000104489/1000257823/14/spacer.gif?v=3503" width="100%" height="100%" border="0" alt="" /></a></div>
                <div class="offre"><span></span></div>
                <div class="slider_conteneur">
                    <div class="ctn">
                        <div class="btn view-poi"><a href="//leafshop.vn/collections/la-mandorle?aelang=vi" rel="greenlac.jpg" class="link_slider_hp"><span>Xem Chi Tiết </span> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
                    </div>
                </div>
            </li>
            <li class="liSlideCarousel" style="background:url('//theme.hstatic.net/1000104489/1000257823/14/slideshow_10.jpg?v=3503') no-repeat;background-size:100%;">
                <div class="slider_link"><a href="//leafshop.vn/collections/trang-diem" rel="greenlac.jpg" class="link_slider_hp"><img src="//theme.hstatic.net/1000104489/1000257823/14/spacer.gif?v=3503" width="100%" height="100%" border="0" alt="" /></a></div>
                <div class="offre"><span></span></div>
                <div class="slider_conteneur">
                    <div class="ctn">
                        <div class="btn view-poi"><a href="//leafshop.vn/collections/trang-diem" rel="greenlac.jpg" class="link_slider_hp"><span>Xem Chi Tiết </span> <i class="fa fa-caret-right" aria-hidden="true"></i> </a></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="next"></div>
</div>
<section id="slider" class="slider_des nopadding ohidden clearfix  slide_80 ">
    <a href='https://leafshop.vn/'>
        <img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/slideshow_1.jpg?v=3503">
    </a>
    <a href='https://leafshop.vn/collections/yumearth'>
        <img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/slideshow_2.jpg?v=3503">
    </a>
    <a href='https://leafshop.vn/collections/sobo'>
        <img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/slideshow_3.jpg?v=3503">
    </a>
    <a href='https://leafshop.vn/collections/biovegan'>
        <img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/slideshow_4.jpg?v=3503">
    </a>
    <a href='https://leafshop.vn/collections/markal'>
        <img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/slideshow_5.jpg?v=3503">
    </a>

    <a href='https://leafshop.vn/collections/bartolini'>
        <img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/slideshow_8.jpg?v=3503">
    </a>
    <a href='//leafshop.vn/collections/la-mandorle?aelang=vi'>
        <img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/slideshow_9.jpg?v=3503">
    </a>
    <a href='//leafshop.vn/collections/trang-diem'>
        <img data-lazy="//theme.hstatic.net/1000104489/1000257823/14/slideshow_10.jpg?v=3503">
    </a>
</section>
<script>
        $(document).ready(function () {
            $('#slider').slick({
                prevArrow: '<button type="button" class="slick-prev"><i class="fa fa-angle-left"></i></button>',
                nextArrow: '<button type="button" class="slick-next"><i class="fa fa-angle-right"></i></button>',
                lazyLoad: 'progressive',
                asNavFor: '.slider_thumb',
            });
        })
</script>

<style>
    #slider:hover > .slick-arrow {
        display: block !important;
    }

    #slider > .slick-arrow {
        display: none !important;
    }
</style>

<!-- end slider -->
