@{
    ViewBag.Title = "Phương thức vận chuyển";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!-- Content
============================================= -->
<div class="zom_grr">
    <!-- Page Title
    ============================================= -->
    <section id="page-title">
        <div class="container clearfix">

            <ol class="breadcrumb col-md-6 col-sm-6">
                <li><a href="/">Trang chủ</a></li>

                <li class='active'>Phương thức vận chuyển</li>

            </ol>
        </div>
    </section>
    <!-- #page-title end -->
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap">
            <style>
                .content-wrap ul {
                    margin-left: 30px;
                }
            </style>
            <div class="container clearfix">
                <p><strong>MIỄN PHÍ VẬN CHUYỂN </strong>&nbsp;</p><table style="width: 845px; border-color: rgb(0, 0, 0); height: 210px; margin-left: auto; margin-right: auto;" data-mce-style="width: 845px; border-color: #000000; height: 210px; margin-left: auto; margin-right: auto;" height="210" border="1"><tbody><tr><td rowspan="2" style="width: 126.016px;" data-mce-style="width: 126.016px;"><p>&nbsp;</p></td><td colspan="2" style="width: 349.766px;" data-mce-style="width: 349.766px;"><p style="text-align: center;" data-mce-style="text-align: center;">Hà nội/ Hồ Chí Minh</p></td><td colspan="2" style="width: 352.266px;" data-mce-style="width: 352.266px;"><p style="text-align: center;" data-mce-style="text-align: center;">Các tỉnh thành khác</p></td></tr><tr><td style="width: 178.516px;" data-mce-style="width: 178.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">Nội thành - Ngoại thành</p></td><td style="width: 166.016px;" data-mce-style="width: 166.016px;"><p style="text-align: center;" data-mce-style="text-align: center;">Huyện xã</p></td><td style="width: 164.766px;" data-mce-style="width: 164.766px;"><p style="text-align: center;" data-mce-style="text-align: center;">Nội thành- Ngoại thành</p></td><td style="width: 182.266px;" data-mce-style="width: 182.266px;"><p style="text-align: center;" data-mce-style="text-align: center;">Huyện Xã</p></td></tr><tr><td style="width: 126.016px;" data-mce-style="width: 126.016px;"><p>Giá trị đơn hàng tối thiểu</p></td><td style="width: 178.516px;" data-mce-style="width: 178.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">&gt;=1.000.000 đ</p></td><td style="width: 166.016px;" data-mce-style="width: 166.016px;"><p style="text-align: center;" data-mce-style="text-align: center;">&gt;=1.500.000 đ</p></td><td style="width: 164.766px;" data-mce-style="width: 164.766px;"><p>&gt;=1.500.000 đ</p></td><td style="width: 182.266px;" data-mce-style="width: 182.266px;"><p>&gt;=1.500.000 đ</p></td></tr><tr><td style="width: 126.016px;" data-mce-style="width: 126.016px;"><p>Trọng lượng tối đa của đơn hàng</p></td><td style="width: 178.516px;" data-mce-style="width: 178.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">&lt;=5kg</p></td><td style="width: 166.016px;" data-mce-style="width: 166.016px;"><p style="text-align: center;" data-mce-style="text-align: center;">&lt;=5kg</p></td><td style="width: 164.766px;" data-mce-style="width: 164.766px;"><p style="text-align: center;" data-mce-style="text-align: center;">&lt;=1kg</p></td><td style="width: 182.266px;" data-mce-style="width: 182.266px;"><p style="text-align: center;" data-mce-style="text-align: center;">&lt;=1kg</p></td></tr></tbody></table><p><strong>**Không áp dụng trong các trường hợp sau:</strong></p><p>- Khách hàng yêu cầu GIAO GẤP/GIAO NGAY</p><p>- Đơn vị vận chuyển KHÁCH HÀNG YÊU CẦU<br></p><p><br data-mce-bogus="1"></p><p><strong>HỖ TRỢ CHI PHÍ VẬN CHUYỂN</strong><br></p><table style="width: 625px; border-color: #0d0101;" data-mce-style="width: 625px; border-color: #0d0101;" border="1"><tbody><tr><td rowspan="2" style="width: 138.516px;" data-mce-style="width: 138.516px;"><p>&nbsp;</p></td><td colspan="2" style="width: 226.016px;" data-mce-style="width: 226.016px;"><p style="text-align: center;" data-mce-style="text-align: center;">Hà Nội/ Hồ Chí Minh</p></td><td colspan="2" style="width: 243.516px;" data-mce-style="width: 243.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">Các tỉnh thành khác</p></td></tr><tr><td style="width: 106.016px;" data-mce-style="width: 106.016px;"><p style="text-align: center;" data-mce-style="text-align: center;">Nội thành - Ngoại thành</p></td><td style="width: 114.766px;" data-mce-style="width: 114.766px;"><p style="text-align: center;" data-mce-style="text-align: center;">Huyện xã</p></td><td style="width: 113.516px;" data-mce-style="width: 113.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">Nội thành- Ngoại thành</p></td><td style="width: 124.766px;" data-mce-style="width: 124.766px;"><p style="text-align: center;" data-mce-style="text-align: center;">Huyện Xã</p></td></tr><tr><td style="width: 138.516px;" data-mce-style="width: 138.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">Giá trị đơn hàng tối thiểu</p></td><td style="width: 106.016px;" data-mce-style="width: 106.016px;"><p style="text-align: center;" data-mce-style="text-align: center;">&gt;=1.000.000</p></td><td style="width: 114.766px;" data-mce-style="width: 114.766px;"><p style="text-align: center;" data-mce-style="text-align: center;">&gt;=1.500.000</p></td><td colspan="2" style="width: 243.516px;" data-mce-style="width: 243.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">&gt;=1.500.000</p></td></tr><tr><td style="width: 138.516px;" data-mce-style="width: 138.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">Trọng lượng của đơn hàng</p></td><td style="width: 106.016px;" data-mce-style="width: 106.016px;"><p style="text-align: center;" data-mce-style="text-align: center;">&gt;=5kg</p></td><td style="width: 114.766px;" data-mce-style="width: 114.766px;"><p style="text-align: center;" data-mce-style="text-align: center;">&gt;=5kg</p></td><td colspan="2" style="width: 243.516px;" data-mce-style="width: 243.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">&gt;=1kg</p></td></tr><tr><td style="width: 138.516px;" data-mce-style="width: 138.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">Phí hỗ trợ</p></td><td style="width: 106.016px;" data-mce-style="width: 106.016px;"><p style="text-align: center;" data-mce-style="text-align: center;">20.000</p></td><td colspan="3" style="width: 363.516px;" data-mce-style="width: 363.516px;"><p style="text-align: center;" data-mce-style="text-align: center;">30.000</p></td></tr></tbody></table><p style="text-align: left;" data-mce-style="text-align: left;">&nbsp;<strong></strong><em><br>**Thời gian vận chuyển có thể lâu hơn tùy thuộc vào ngày cuối tuần, ngày lễ, hoặc các mặt hàng bắt buộc phải vận chuyển đường bộ.&nbsp;</em></p><p style="text-align: center;" data-mce-style="text-align: center;"><em></em></p><p style="text-align: center;" data-mce-style="text-align: center;"><em></em></p>
            </div>

        </div>

    </section><!-- #content end -->
</div>

<!-- #content end -->
